@media screen and (min-width: 670px) and (max-width: 970px) {
    .mdMe span {
        text-decoration: underline;
        text-decoration-color: #1DFF77;
    }

    header {
        height: 100vh;
    }

    .ticker-tape {
        display: none;
    }

    .AlwaysThink {
        font-size: 50px !important;
        top: 30% !important;
    }

    .emot {
        width: 50px !important;

    }

    .Positive {
        left: 30% !important;
        font-size: 50px !important;

    }

    #img-help .col-lg-8:nth-child(2),
    #img-help .col-lg-8:nth-child(3) {
        background-color: #f5f5f5;
        padding-top: 30px;
    }

    #img-help .col-lg-8:nth-child(4) {
        background-color: #fbfeb5;
        padding: 20px 40px;
        margin: 0px 0px;
        border-radius: 0px 0px 40px 40px;
    }

    .imgrow {
        display: none;
    }

    .lgMe {
        display: none !important;
    }

    .mdMe {
        display: block !important;
        background-color: #000000;
        padding: 60px 10px 60px 10px;
        box-shadow: #1DFF77 2px 2px 2px 2px;

    }

    .mdMe .xsmall,
    .mdMe .medium {
        color: white !important;
    }

    .mdMe::after {
        content: "";
        height: 50px;
        width: 100%;
        background: linear-gradient(to bottom, #fbfeb5, transparent);
        z-index: 9 !important;
        color: white !important;
    }

    .btnSpes:hover {
        color: #fbfeb5 !important;
        background-color: #1DFF77 !important;
        border-bottom: #fbfeb5 !important;
    }

    .brutalism {
        font-size: 130px;
        z-index: 99 !important;
    }

    .hero {
        margin-top: 20px;
    }

    .img-header1 {
        top: 40px !important;
        right: 20px !important;
        z-index: -99;
    }

    .img-header2 {
        bottom: 0px;
        left: 20px;
        z-index: -99;
        opacity: 0.5;
    }

    .hour {
        display: none;
    }

    .footerHideS {
        display: none;
    }

    .btntrans {
        display: none;
    }
}






@media screen and (max-width: 680px) {

    .mdMe .xsmall,
    .mdMe .medium {
        color: white !important;
    }

    .ticker-tape {
        display: none;
    }

    .AlwaysThink {
        font-size: 50px !important;
        top: 30% !important;
        left: 0 !important;
    }

    .emot {
        top: 70% !important;
        width: 50px !important;

    }

    .Positive {
        left: 60% !important;
        font-size: 50px !important;
        top: 40% !important;
    }

    .footerHideS {
        display: none;
    }

    #containerTextHeader {
        position: absolute;
        margin: 0;
        padding: 0;
        left: 10px;
    }

    #footerHero .brutalism {
        font-size: 40px !important;
    }

    .brutalism {
        font-size: 100px !important;
    }

    #img-help .col-lg-8:nth-child(2),
    #img-help .col-lg-8:nth-child(3) {
        background-color: #f5f5f5;
        padding-top: 30px;
    }

    #img-help .col-lg-8:nth-child(4) {
        background-color: #fbfeb5;
        padding: 20px 40px;
        margin: 0px 0px;
        border-radius: 0px 0px 40px 40px;
    }

    .imgrow {
        display: none;
    }

    .mdMe {
        display: block !important;
        background-color: #000000;
        padding: 60px 10px 60px 10px;
        box-shadow: #1DFF77 2px 2px 2px 2px;

    }

    .mdMe::after {
        content: "";
        height: 50px;
        width: 100%;
        background: linear-gradient(to bottom, #fbfeb5, transparent);
        z-index: 9 !important;
    }

    .btnSpes:hover {
        color: #fbfeb5 !important;
        background-color: #1DFF77 !important;
        border-bottom: #fbfeb5 !important;
    }

    .btnSpes {
        color: #ffffff !important;
    }

    .lgMe {
        display: none !important;
    }

    .mdMe {
        display: block !important;
    }

    #container {
        margin: 10px 15px 10px 15px;
    }

    #ketWaktu {
        display: none;
    }

    .brutalism {
        font-size: 120px;
    }

    .hero {
        margin-top: 20px;
    }

    nav {
        display: none !important;
    }

    header {
        margin-top: 50px !important;
    }

    .img-header1 {
        top: 20px !important;
        right: 0px !important;
        z-index: -9 !important;
    }

    .img-header2 {
        bottom: 10px;
        left: 20px;
        z-index: -9;
    }

    .nav-device {
        background-color: #000000;
        top: 0;
        color: #D6D6D6;
        display: none;
    }

    .navCont,
    .close,
    .nav-field,
    .navdeviceCont {
        cursor: pointer;
        transition: color 1s;
        display: block !important;
    }
}

* {
    scroll-behavior: smooth;
}

h2 {
    display: inline-block;
}



.brutalism {
    font-size: 150px;
    font-family: 'Bebas Neue', sans-serif;
    transition: color 1s;
    top: 0;
    left: 0;
    margin-left: 0px;
    transition: margin-left 0.5s;
}

.xsmall {
    font-size: 20px;
    font-family: 'Flamenco', cursive;

}

#realPage .medium:hover {
    color: #880B0B;
    font-size: 50px !important;
}

.medium {
    font-size: 96px;
    font-family: 'Josefin Sans', sans-serif;
    transition: all 1.5s;
}

.small {
    font-size: 32px;
    font-family: 'Josefin Sans', sans-serif;
}

.headerText:hover::after {
    content: " <-";
    color: #1DFF77;
}

.headerText:hover {
    margin-left: 20px;

}

.headerText {
    transition: margin-left 0.7s;
}

.btn {
    background-color: black;
    color: white;
    transition: background-color 1s;
    position: relative;
    margin-right: 20px;
    border: 0px solid white;
    transition: all 1s;

}

.btn:hover {
    background-color: #019c3f;
    color: white;
}

.hitam {
    background-color: #1B1B1B !important;
    color: #D6D6D6 !important;
}

.underline-animation {
    position: relative;
    display: inline-block;
}

.underline-animation::after,
i::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #1DFF77;
    transition: width 0.5s;
}

.underline-animation:hover::after,
i:hover::after {
    width: 100%;
}

span {
    transition: color 1s;
}

span:hover {
    color: #1DFF77;

}

img.logo:hover {
    margin: 0px 200px 15px 0px;
    transform: rotate(270deg);
}

img.logo {
    transition: margin 2s;
    transform: rotate(0deg);
    transition: transform 2s;
}

img {
    transition: margin 1s;
    transition: transform 2s;
    margin: 0px 0px 0px 0px;
}

img.matahari,
img.bulan,
img.bintang {
    position: absolute;
    z-index: 0;
    top: 20px;
    right: 10px;

}

img.bintang {
    z-index: 1;
    pointer-events: none;
}

img.bulan,
img.matahari {
    max-width: 100px;
    transition: max-width 1s;
}

img.bulan:hover,
img.matahari:hover {
    max-width: 150px;
    cursor: pointer;
}

img.matahari {
    animation: putar 2s ease-in-out 0s infinite;
}

@keyframes putar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

i {
    transition: color 1.5s;
}

i:hover {
    color: #1DFF77;

}

a {
    color: #D6D6D6;
    text-decoration: none;
}

.light {
    color: #1B1B1B !important;
}

img.load {
    animation: image 4s infinite;
}

@keyframes image {

    25%,
    75% {
        top: 30%;
    }

    0%,
    50%,
    100% {
        top: 35%;
    }
}

@keyframes fade {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}



.great {
    color: #1B1B1B;
    opacity: 0;
    animation: fade 2s ease-in-out;
}

.greatdark {
    color: #D6D6D6;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    z-index: -2;
    margin: 0;
    padding: 0;
    height: 50px;
    width: 100%;
    opacity: 0.8;
    background: linear-gradient(to bottom, #D6D6D6, transparent);
}

.brutalism:hover {
    color: #1DFF77;
    animation: tremor 4s ease-in-out infinite;
    margin-left: 20px;
}






.img-header1 {
    top: 10% !important;
    right: 10%;
    max-width: 200px;

    z-index: 5;
    transition: opacity 2s;
    opacity: 0.8;
}

.img-header2 {
    bottom: 20%;
    max-width: 200px;

    right: 25%;
    transition: opacity 2s;
    z-index: 5;
    opacity: 0.8;
}

.img-header1,
.img-header2 {
    transition: max-width 2s;
}

.img-header1:hover,
.img-header2:hover {
    max-width: 250px;
    animation: tremor 2s infinite;
    opacity: 1;
}


.navCont,
.close,
.navdeviceCont,
.nav-field {
    cursor: pointer;
    transition: color 1s;
    display: none;
}

.close:hover {
    color: #1DFF77;
}

#xsscrool {
    z-index: 99;
}

.showAboutMore {
    display: none;
}

p.form-text {
    margin-right: 0;
    margin-bottom: 20px;
    transition: all 0.6s;
}

#about p.form-text:hover::before {
    content: "-> ";
    margin-right: 10px;
}



.btnSpes {
    border-radius: 10px;
    border: 1px solid black;
    display: inline-block;
    padding: 5px 15px;
    margin: 10px;
    cursor: pointer;
    transition: all 1s;
    color: white;
}

.btnSpes:hover {
    background-color: #1B1B1B;
    border-radius: 5px;
    border-bottom: 2px solid #1DFF77;
    box-shadow: #1b1b1b7e 2px 1px 1px 1px;
    color: white !important;
}

.mdMe {
    display: none;
    margin-top: 30px;

}

.box-box {
    transition: all 1s;

}

.box-box:hover {
    color: #1DFF77 !important;
    width: 50px;
    height: 50px;
    padding: 0px 0px 20px 0px;
}



#howCanHelp:hover {
    opacity: 1;
    background-position-x: 0px;
}

img.imghelp {
    transition: all 1.3s;
    width: 370px;
    opacity: 0.7;
}

img.imghelp:hover {
    opacity: 1;
    width: 420px;

}

img.imgrow {
    opacity: 0;
    transition: all 1s;
}

img.imgrow:hover {
    opacity: 1;
}

#projek::-webkit-scrollbar {
    display: block !important;
}

.imgProject {
    opacity: 0.5;
    transition: all 1s;
}




.imgProject:hover {
    opacity: 1;
}

img.img-footer {
    transition: all 1s;
    border-radius: 0px 0px 0% 0%;
}

img.img-footer:hover {
    border-radius: 0px 0px 50% 50%;
}

.AlwaysThink {
    top: 0;
    left: 50%;
}

.emot {
    width: 100px;
    top: 85%;
    left: 60%;
}

.Positive {
    top: 20%;
    left: 10%;
}

.Positive,
.emot,
.AlwaysThink {
    transition: all 2s;
}

.hide {
    opacity: 0;

}

.emot:hover {
    transform: scale(0.8) translateX(-80px);
}

.hide:hover {
    overflow-y: hidden;
}

#contentProject {
    box-shadow: #D6D6D650 2px 2px 2px 2px;
    transition: all 0.6s;
}
#contentProject:hover{
    box-shadow: #1dff77cb 20px 20px 30px 0px;
}
#projek .form-text {
    color: #242424 !important;
}
#projek .btnSpes:hover{
    transition: all 0.3s;
    transform: scale(1.1);
}
@keyframes image-transition {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  #projek .img-fluid{
    animation: image-transition 1s ease;
}